<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="car" class="com.blogger.user.domain.Car"
        p:id="1" p:color="black"/>

        <!--spring 工厂信息后置处理器-->
        <bean id="mybeanFactoryPostProcesser" class="com.blogger.user.springtest.MybeanFactoryPostProcesser"/>

        <!--spring bean初始化后置处理器-->
        <bean id="myinstantiationAwareBeanPostProcessor" class="com.blogger.user.springtest.MyinstantiationAwareBeanPostProcessor"/>
</beans>